<div class="container w-25">
  <form #createCompanyForm="ngForm" (ngSubmit)="create(createCompanyForm)" autocomplete="off">

    <div class="form-group">
      <h2 class="text-center text-primary">Add new company</h2>
    </div>

    <hr>

    <div class="form-group">

      <input
        name="name"
        [(ngModel)]="model.name"
        class="form-control"
        type="text"
        placeholder="Name"
        required
      >

      <br>

      <div class="form-group text-center">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!createCompanyForm.valid"
        >
          Create
        </button>
      </div>

    </div>


  </form>
</div>
